.magic{
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    color: aliceblue;
    background-color: tomato;
}

.magic:hover{
    color: blue;
    background-color: blanchedalmond;
}

.magic:active{
    font-size: xx-large;
    font-weight: bolder;
    font-family: monospace;
}

input:focus{
    font-size: 120px;
    font-family: monospace;
}

input:hover{
    background-color: blue;
}